PRIVATE_KEY=
MAINNET_RPC=
TESTNET_RPC=
CONTRACT_OWNER=
POLYGONSCAN_API_KEY=
TOKEN_ADDRESS=0xaC996e67b253e633D94D2D067456BFcfd8064caf
CONTRACT_OWNER=0xb26314f4408C2084c62D8a24ECEeeA1616C10B4E

proxyAddress=
proxySaleAddress=
proxyAdminPrivateKey=